@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lexend Deca', sans-serif;
}

:root {
    --whitesmoke: #F9F9F9;
    --light-grey: #ECECEC;
    --grey: #C4C4C4;
    --medium-grey: #A7A7A7;
    --deep-grey: #343434;
    --blue: #1B77F3;
    --red: #CF3C3F;
}

.login-screen {
    display: flex;
    width: 100%;
    min-height: 100vh;
}

.login {
    width: 25%;
    min-width: 400px;
    min-height: 100vh;
    padding: clamp(35px, 8%, 70px); /* clamp(min, preference, max) */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    width: 180px;
    margin-bottom: 60px;
}

h1 {
    font-size: 1.8rem;
    margin-bottom: 20px;
}

.inputs {
    width: 100%;
}

.inputs > label {
    display: block;
    margin-bottom: 20px;
    width: 100%;
}

.inputs > label > .span-active {
    font-size: 0.7em;
    margin: 8px 10px;
}

.inputs span {
    position: absolute;
    font-size: 0.8em;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--medium-grey);
    margin: 20px;
    cursor: text;
    transition: all 200ms ease;

}

.inputs input {
    width: 100%;
    background-color: var(--light-grey);
    border: none;
    border: 2px solid rgba(0, 0, 0, 0);
    border-radius: 5px;
    font-size: 0.9em;
    padding: 25px 10px 10px;
    font-weight: 600;
}

.inputs input:focus {
    background-color: var(--whitesmoke);
    border: 2px solid var(--deep-grey);
}

.wallpaper {
    width: 75%;
}

.wallpaper-image {
    width: 100%;
    height: 100%;
}